.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appHeader {
  border: 1.5px solid #e1e4e8;
  padding: 30px;
  font-weight: bold;
  font-size: 20px;
}

.appContent {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 80px 10px;
}

.appMain {
  flex: 1;
  min-width: 0;
  max-width: 1000px;
}

.appFooter {
  padding: 30px;
  color: white;
  font-size: 18px;
  background-color: #282c34;
}

.appFooter a {
  color: #61dafb;
}

.appFooter a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .appHeader {
    text-align: center;
  }
}
